
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}
.bgblack{
    color: whitesmoke;
    background-color: black;
    /* margin: 20px; */
    padding: 10px;
    background-size: cover;
}
.main{
    color: whitesmoke;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.inline{
    display: inline;
    margin: 20px;
    padding: 10px;
}
.img1{
    background-image: url('./image/pic1.jpg');
    height: 130vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main2{
    display: flex;
    justify-content: center;
    padding: auto;
}
.img2{
    background-image: url('./image/pic2.jpg');
    height: 130vh;
    width: 100%;
    background-size: cover;
    }
    .img3{
        background-image: url('./image/pic3.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    /* .img4 , .img5{
        width: 40%; 
    } */
    .main0{
        width: 50%;
    }
    .df{
        display: flex;
        justify-content: space-between;
    }
    /* .img4 , .img5{
        margin: 10px;
    } */
    .mainsec{
        display: flex;
        justify-content: center;
        height: 75vh;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
        flex-wrap: wrap;
    }
    /* .img4{
        background-image: url('./image/pic4.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover;
        /* margin: 20px; */
        /* padding: 20px; */
        /* display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 20px;
        flex-wrap: wrap; */
    /* } */
    /* .img5{ */
        /* background-image: url('./image/pic5.jpg');
        height: 100vh;
        width: 100%;
        background-size: cover; */
        /* margin: 20px; */
        /* padding: 20px; */
        /* display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 20px;
        flex-wrap: wrap; */
    /* }
    .mainsec1{
        color: white;
    }
    .main00{
        margin: 0px 10px ;
    } */
    .container {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .img4 {
        background-image: url('./image/pic4.jpg');
        height: 75vh;
         width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img5{
        background-image: url(./image/pic5.jpg);
        height: 75vh;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

